[env]
MY_GUID = "6db81497-6573-4f00-849e-6917568bb59c"

[tasks."generate-secureboot-key"]
description = "Generate Secure Boot key for signing kernel modules and systemd-boot"
# From https://github.com/blue-build/base-images/blob/main/justfile
run = '''
openssl req -config ./openssl.cnf \
    -new -x509 -newkey rsa:2048 \
    -nodes -days 36500 -outform DER \
    -keyout ./MOK.priv \
    -out ./files/etc/pki/akmods/certs/akmods-jonah.der
'''

[tasks."convert-key-format"]
description = "Convert MOK.priv to base64 for github action secret"
run = "base64 -w 0 MOK.priv"

[tasks."pull-latest-image"]
raw = true  # for sudo
run = "sudo podman pull ghcr.io/jonerrr/os-image:latest"

[tasks."generate-iso"]
description = "Generate Anaconda-based ISO image. Must create an output folder first"
depends = ["pull-latest-image"]
usage = '''
arg "<image_type>" default="anaconda-iso"
'''
raw = true  # for sudo
run = """
echo "Generating ${usage_image_type} image..."
sudo podman run \
    --rm \
    --privileged \
    --security-opt label=type:unconfined_t \
    -v ./output:/output \
    -v /var/lib/containers/storage:/var/lib/containers/storage \
    -v ./osbuild-config.toml:/config.toml:ro \
    quay.io/centos-bootc/bootc-image-builder:latest \
    --type ${usage_image_type} \
    ghcr.io/jonerrr/os-image:latest
"""
