[Unit]
Description=Backup libvirt VM XML configurations
After=network.target libvirtd.service
Wants=libvirtd.service

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/mkdir -p /var/home/jonah/qemu
ExecStart=/bin/rm -rf /var/home/jonah/qemu/*
ExecStart=/bin/cp -a /etc/libvirt/qemu/. /var/home/jonah/qemu/
ExecStartPost=/bin/chown -R jonah:jonah /var/home/jonah/qemu