[Unit]
Description=Backup libvirt VM XML configurations
After=network.target

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/mkdir -p /home/jonah/qemu
ExecStart=/bin/bash -c 'cp -r /etc/libvirt/qemu/* /home/jonah/qemu/'
ExecStartPost=/bin/chown -R jonah:jonah /home/jonah/qemu