[Unit]
Description=Enable Wake on WLAN before sleep
Documentation=man:iw(8)
Before=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/iw phy0 wowlan enable magic-packet

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target